.p-messages {
    border: 1px solid;
    margin: .5em 0;
    padding: 1em 1em 1em .5em;
    position: relative;
}

.p-messages .p-messages-icon {
    display:inline-block;
    padding: 0;
    vertical-align: middle;
    font-size: 2em;
}

.p-messages .p-messages-summary {
    font-weight: bold;
    margin-left: .25em;
}

.p-messages .p-messages-detail {
    margin-left: .25em;
}

.p-messages ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
}

.p-messages ul > li {
    padding: .25em 0;
}

.p-messages.p-messages-noicon ul {
    margin: 0 1.5em 0 0;
}

.p-messages .p-messages-close {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
}