.ui-messages {
    margin-bottom: .5em;
    position: relative;
}

.ui-messages .ui-messages-wrapper {
    padding: 1em;
}

.ui-messages-icon {
    display:inline-block;
    padding: 0;
    vertical-align: middle;
}

.ui-messages-summary {
    font-weight: bold;
    margin-left: .25em;
}

.ui-messages-detail {
    margin-left: .25em;
}

.ui-messages-success {
    color: #ffffff;
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.ui-messages-info {
    color: #ffffff;
    background-color: #2196f3;
    border-color: #2196f3;
}

.ui-messages-warn {
    color: #ffffff;
    background-color: #FFB300;
    border-color: #FFB300;
}

.ui-messages-error {
    color: #ffffff;
    background-color: #f44336;
    border-color: #f44336;
}

.ui-messages ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
}

.ui-messages.ui-messages-noicon ul {
    margin: 0 1.5em 0 0;
}

.ui-messages .ui-messages-close {
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
}

/* Animations */
.ui-messages-enter {
  opacity: 0.01;
}

.ui-messages-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.ui-messages-exit {
    max-height: 500px;
}

.ui-messages-exit.ui-messages-exit-active {
	max-height: 0;
	overflow: hidden;
	margin-bottom: 0;
	transition: max-height 500ms cubic-bezier(0, 1, 0, 1), margin-bottom 500ms cubic-bezier(0, 1, 0, 1);
}