[data-rehype-pretty-code-figure] {
    background-color: var(--code-figure-background);
    color: var(--code-figure-color);
    border-radius: var(--radius-lg);
    border: 1px solid var(--code-figure-border);
    margin-top: calc(var(--spacing) * 4);
    overflow: hidden;
    outline: none;
    position: relative;
}
[data-rehype-pretty-code-figure="in-wrapper"] {
    margin-top: 0;
    border-radius: 0;
    border: none;
}

[data-rehype-pretty-code-figure] [data-rehype-pretty-code-pre] {
    min-width: 0;
    overflow-x: auto;
    padding: calc(var(--spacing) * 3.5) calc(var(--spacing) * 4);
    outline: none;
    background: transparent !important;
}

[data-rehype-pretty-code-figure] [data-rehype-pretty-code-pre]:has([data-highlighted-line]),
[data-rehype-pretty-code-figure] [data-rehype-pretty-code-pre]:has([data-line-numbers]) {
    padding-left: 0;
    padding-right: 0;
}

[data-rehype-pretty-code-figure] [data-line-numbers] {
    display: grid;
    min-width: 100%;
    white-space: pre;
    border: 0;
    background: transparent;
    padding: 0;
    counter-reset: line;
    box-decoration-break: clone;
}

[data-rehype-pretty-code-figure] [data-line-numbers] [data-line]::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: calc(var(--spacing) * 15);
    padding-right: calc(var(--spacing) * 5);
    text-align: right;
    color: var(--code-figure-number-color);
    background-color: var(--code-figure-background);
    position: sticky;
    left: 0;
}

[data-rehype-pretty-code-figure] [data-line-numbers] [data-highlighted-line][data-line]::before {
    background-color: var(--code-figure-higlighted-background);
}

[data-rehype-pretty-code-figure] [data-line] {
    padding-top: calc(var(--spacing) * 0.75);
    padding-bottom: calc(var(--spacing) * 0.75);
    min-height: calc(var(--spacing) * 0.75);
    width: 100%;
    display: inline-block;
}

[data-rehype-pretty-code-figure] [data-line] span {
    color: var(--shiki-light);

    @variant dark {
        color: var(--shiki-dark) !important;
    }
}

[data-rehype-pretty-code-figure] [data-highlighted-line],
[data-rehype-pretty-code-figure] [data-highlighted-chars] {
    position: relative;
    background-color: var(--code-figure-higlighted-background);
}

[data-rehype-pretty-code-figure] [data-highlighted-line]::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    content: "";
    background-color: var(--code-figure-higlighted-border);
}

[data-rehype-pretty-code-figure] [data-highlighted-chars] {
    border-radius: var(--radius-sm);
    padding-inline: 0.3rem;
    padding-block: 0.1rem;
    font-size: 0.96rem;
    border: 1px solid var(--code-figure-border);
}
