.layout-content {
    padding: 4rem 2rem 0 2rem;
    display: flex;

    .layout-content-slot {
        flex: 1 1 auto;
        width: 1%;
        padding-top: 0.25rem;
    }
}

.card {
    background: var(--card-background);
    border: var(--card-border);
    padding: 1.75rem;
    border-radius: var(--radius-md);
    margin-bottom: 0.875rem;
}
