.p-panel {
	padding: 0.2em;
}

.p-panel .p-panel-titlebar {
	padding: .5em .75em;
}

.p-panel .p-panel-titlebar-icon {
	float: right;
    cursor: pointer;
    height: 1.25em;
    width: 1.25em;
    line-height: 1.25em;
    text-align: center;
}

.p-panel .p-panel-titlebar-icon span {
    line-height: inherit;
    margin-top: -1px;
}

.p-panel .p-panel-content {
	border: 0;
    background: none;
    padding: .5em .75em;
}

.p-panel .p-panel-footer {
	border-width: 1px 0 0;
	padding: .25em .5em;
	text-align:left;
}

.p-panel-content-wrapper-collapsed {
    display: none;
}

.p-panel-content-wrapper-enter {
    max-height: 0;
    display: block;
}

.p-panel-content-wrapper-enter-active {
    max-height: 500px;
    overflow: hidden;
    transition: max-height cubic-bezier(0.86, 0, 0.07, 1) .4s;
}

.p-panel-content-wrapper-enter-done {
    display: block;
}

.p-panel-content-wrapper-exit {
    max-height: 500px;
    display: block;
}

.p-panel-content-wrapper-exit-active {
    max-height: 0;
    display: block;
    overflow: hidden;
    transition: max-height cubic-bezier(0.86, 0, 0.07, 1) .4s;
}

.p-panel-content-wrapper-exit-done {
    display: none;
}