.babylon {
    .template {
        &-hero {
            &-pattern {
                width: 100.3125rem;
                height: auto;
                position: absolute;
                bottom: -23rem;
                left: -15rem;
                z-index: 6;
            }
            &-dashboard1,
            &-dashboard2{
                width: 40rem;
            }
        }
    }

}
@media only screen and (max-width: 1200px) {
    .babylon {
        .template{
            &-hero {
                &-pattern {
                    width: 72rem;
                    height: auto;
                    bottom: -16rem;
                    left: -20rem;
                }
            }
        }

    }
}
@media only screen and (max-width: 768px) {
    .babylon {
        .template{
            &-hero {
                &-pattern {
                    width: 100rem;
                    height: auto;
                    bottom: -21rem;
                    left: -24rem;
                }
            }
        }

    }
}