.freya {
    .template {
        &-hero {

            &-pattern {
                height: 26rem;
                width: auto;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 6;
                mix-blend-mode: screen;
            }
        }
    }

}

@media only screen and (max-width: 768px) {
    .freya {
        .template {
            &-hero {

                &-pattern {
                    width: 70rem;
                    height: 30rem;
                }
            }
        }

    }
}