.roma {
    .template {
        &-hero {
            &-pattern {
                width: 56rem;
                height: auto;
                position: absolute;
                bottom: -0.5rem;
                left: -4.06rem;
                z-index: 6;
            }
            &-dashboard1,
            &-dashboard2{
                width: 42rem;
            }
        }
        &-separator {
            &-icon {
                width: 6rem;
                height: 2.5rem;
                border-radius: 99px;
                svg{
                    width: 4.2rem;
                    height: 4.2rem;
                }
            }
        }
    }

}
@media only screen and (max-width: 1200px) {
    .roma {
        .template{
            &-hero {
                &-pattern {
                    width: 68rem;
                    height: auto;
                    bottom: -8rem;
                    left: -12rem;
                }
            }
        }

    }
}
@media only screen and (max-width: 768px) {
    .roma {
        .template{
            &-hero {
                &-pattern {
                    width: 88rem;
                    height: auto;
                    bottom: 0rem;
                    left: -16rem;
                }
            }
        }

    }
}