@charset "UTF-8";
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../../public/showcase/resources/fonts/roboto-v15-latin-regular.eot');
    /* IE9 Compat Modes */

    src: local('Roboto'), local('Roboto-Regular'), url('../../public/showcase/resources/fonts/roboto-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */

    url('../../public/showcase/resources/fonts/roboto-v15-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */

    url('../../public/showcase/resources/fonts/roboto-v15-latin-regular.woff') format('woff'),
        /* Modern Browsers */

    url('../../public/showcase/resources/fonts/roboto-v15-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */

    url('../../public/showcase/resources/fonts/roboto-v15-latin-regular.svg#Roboto') format('svg');
    /* Legacy iOS */
}
body {
    margin: 0px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f6f6f6;
    font-family: "Roboto", "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #6b6b6b;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
}

/* App Component*/

/* Topbar */
#layout-topbar {
    background-color: $darkBgColor;
    box-sizing: border-box;
    display: block;
    padding: 0;
    height: 70px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);

    .menu-button {
        display: none;
        color: #ffffff;
        font-size: 24px;
        position: absolute;
        left: 0;
        top: 0;
        width: 60px;
        height: 60px;
        line-height: 58px;
        text-align: center;
        transition: background-color .3s;

        &:hover {
            background-color: $hoverBgColor;
        }

        i {
            line-height: inherit;
        }
    }

    .logo {
        margin-left: 45px;
        margin-top: 15px;
        display: inline-block;

        img{
            &:last-child {
                width: 166px;
                height: 41px;
                object-fit: contain;
            }
            &:first-child {
                width: 40px;
                height: 44px;
                margin-right: 10px;
            }
        }
    }
}
.topbar-menu {
    display: inline-block;
    list-style-type: none;
    float: right;
    margin: 0 60px 0 0;
    padding: 0;
    height: 100%;

    > li{
        display: inline-block;
        height: 100%;

        > a{
            text-decoration: none;
            color: #ffffff;
            transition: background-color .3s;
            min-width: 120px;
            display: inline-block;
            text-align: center;
            box-sizing: border-box;
            height: 100%;
            line-height: 70px;

            &:hover{
                background-color: $hoverBgColor;
            }
        }

        > ul{
            display: none;
        }

        &.topbar-menu-themes {
            position: relative;

            > ul {
                position: absolute;
                top: 65px;
                left: -50px;
                width: 200px;
                max-height: 300px;
                background-color: #ffffff;
                -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
                -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
                overflow: auto;
                list-style-type: none;
                padding: 15px 0;
                margin: 0;
                border-radius: 3px;
                -webkit-animation-name: fadeInDown;
                animation-name: fadeInDown;
                animation-duration: .5s;

                > li.topbar-submenu-header {
                    padding: 6px 12px;
                    font-weight: bold;
                    text-align: left;
                    background-image: linear-gradient(to left, #2bc0ec, #1b81d7);
                    color: #ffffff;
                }

                a {
                    text-decoration: none;
                    color: #404C51;
                    padding: 6px 12px;
                    display: block;
                    transition: all 0.5s ease;

                    &:hover {
                        background-color: #eeeeee;
                    }

                    img {
                        width: 32px;
                        vertical-align: middle;
                    }

                    .ui-text {
                        vertical-align: middle;
                        margin-left: 8px;
                    }
                }
            }
        }
        &:hover > ul {
            display: block;
        }
    }
}
/* Animation */
@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

/* Sidebar */
#layout-sidebar {
    position: fixed;
    left: 0;
    top: 70px;
    height: 100%;
    background-color: #ffffff;
    overflow: hidden;
    width: 300px;
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    .layout-menu {
        overflow: auto;
        height: calc(100% - 70px);

        > a {
            width: 100%;
            height: 50px;
            display: block;
            padding: 15px 0px 0px 25px;
            cursor: pointer;
            border-top: solid 1px #e3e9ea;
            box-sizing: border-box;

            &:hover {
                background-color: #eeeeee;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -ms-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }

            span {
                color: $textColor;
                font-weight: bold;
                font-size: 16px;
                margin: 0px 0px 0px 30px;
                display: block;
            }

            img {
                width: 20px;
                height: auto;
                float: left;

                &.layout-menu-icon-active {
                    display: none;
                }
                &.layout-menu-icon-inactive {
                    display: inline;
                }
            }
            &.active-menuitem {
                background-color: #ffffff !important;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -ms-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;

                > span {
                    color: #03c4e8;
                    font-weight: bold;
                }
                img{
                    &.layout-menu-icon-active {
                        display: inline;
                    }
                    &.layout-menu-icon-inactive {
                        display: none;
                    }
                }
            }
        }
        > div {
            width: auto;
            padding: 20px 15px;
            overflow: hidden;
            background-color: #ffffff;

            &.submenuhide {
                overflow: hidden;
                max-height: 0;
                padding-top: 0;
                padding-bottom: 0;
                margin-top: 0;
                margin-bottom: 0;
                -moz-transition-duration: 0.3s;
                -webkit-transition-duration: 0.3s;
                -o-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
                -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
                -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
                transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
            }

            &.submenushow {
                -moz-transition-duration: 0.3s;
                -webkit-transition-duration: 0.3s;
                -o-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
                -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
                -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
                transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
                max-height: 500px;
            }

            a {
                width: 50%;
                float: left;
                padding: 6px;
                box-sizing: border-box;
                cursor: pointer;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                font-size: 14px;
                color: #7a8687;

                :hover {
                    background-color: #eeeeee;
                }
            }
        }
    }
}

/* Mask */

.layout-mask {
    z-index: 999997;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 99px;
    left: 0;
    background-color: #4c5254;
    opacity: .7;
}

/* Content */
#layout-content {
    margin-left: 300px;
    padding-top: 70px;
    background-color: #f9f9f9;
}
.content-section {
    display: block;
    border-bottom: solid 1px #dde3e6;
    padding: 30px;
    background-color: #f5f7f8;

    &:first-of-type > div > span {
        line-height: 1.5em;
    }
    h2 {
        margin-top: 0;
    }
}

/*Footer*/
.layout-footer {
    font-size: 14px;
    color: #84939f;

    .footer-links {
        float: right;
        font-size: 24px;
    }
    a {
        margin-left: 16px;
    }
}

.icon-github {
    width: 29.1px;
    height: 29.1px;
    color:$darkBgColor
}

.icon-twitter {
    width: 29.1px;
    height: 29.1px;
    color:$darkBgColor
}

/** ClearFix **/
.clearfix {
    display: inline-block;

    &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}
/* required comment for clearfix to work in Opera \*/
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}

/* Home Component*/
.home{
    p {
        line-height: 22px;
    }
    /* Introduction */
    .introduction {
        background-color: #1976d2;
        background: url('../../public/showcase/resources/images/primereact-slider-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: #ffffff;
        padding: 80px 30px 80px 50px;

        h1 {
            font-weight: normal;
            margin-bottom: 5px;
        }

        h2 {
            font-weight: bold;
            margin-bottom: 40px;
            margin-top: 0;
        }

        .home-button {
            width: 112px;
            height: 24px;
            font-weight: 500;
            text-align: center;
            color: #ffffff;
            background-color: #03C4E8;
            padding: 10px 24px 9px 24px;
            border-radius: 3px;
            transition: background-color .3s;

            &:hover {
                background-color: #029cb9;
            }
        }

        > div {
            padding: 100px 100px 0 100px;
            height: 200px;
        }
    }

    /* Features */
    .features {
        background-color: #f5f7f8;
        text-align: center;
        padding: 30px;

        h3 {
             font-size:24px;
             color: $textColor;
             margin-bottom: 25px;
        }

        img {
            width: 57px;
        }

        .feature-name {
            display: block;
            font-weight: bold;
            font-size: 16px;
            margin-top: 4px;
            color: $darkBgColor;
        }

        .ui-g{
            p {
                color: $darkBgColor;
                margin-bottom: 30px;
            }

            > div {
                padding: .5em 2em;
            }
        }

        p {
            margin-bottom: 30px;

            &.features-tagline {
                color: $textColor;
                margin-bottom: 0;
                margin-top: -5px;
            }

            &.features-description {
                color: $textColor;
                text-align: left;


            }

            > a{
                font-weight: bold;
                color: #03c4e8;
            }
        }
    }

    /* Who Uses */
    .whouses {
        background-color: #222222;
        color: #ffffff;
        text-align: center;
        padding: 30px;

        h3 {
            margin-bottom: 10px;
        }

        img {
            height: 30px;
            width: 100%;
        }

        .ui-g > div {
            padding: 1em .5em;
        }

        p {
            margin-bottom: 30px;

            >a {
                font-weight: bold;
                color: #03c4e8;
            }
        }
    }

    /* PRO */
    .prosupport {
        border-bottom: 1px solid #dcdedf;
        background-color: #f5f7f8;
        padding: 30px;
        color: #222222;

        p {
            line-height: 22px;
        }

        h3 {
            font-size: 24px;
        }

        img {
            margin-top: 10px;
        }

        .ui-md-6:last-child {
            text-align: center;
        }

        .home-button2 {
            width: 112px;
            height: 24px;
            font-weight: 500;
            text-align: center;
            color: #ffffff;
            background-color: #E8037D;
            padding: 10px 24px 9px 24px;
            border-radius: 3px;
            transition: background-color .3s;

            &:hover {
                background-color: #b90264;
            }
        }
    }
}

/* Demo Components*/

/* Demo Introduction*/
.introduction {
    padding: 38px 20px 38px 20px;
    background-image: linear-gradient(to right, #008fba, #03c4e8);
    color: #ffffff;
}

.feature-title {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}

.feature-intro{
    h1 {
        font-size: 28px;
        margin: 0 0 12px 0;
        display: block;
        text-align: left;
        color: #ffffff;
        font-weight: normal;
    }

    p {
        margin: 0;
        line-height: 1.5em;
    }
}

/* Demo Implementation*/
.implementation {
    padding: 42px 29px 42px 29px;
    background-color: #FFFFFF;
    border: solid 1px #eaeaea;
    text-align: left;

    > div {
        color: $textColor;
    }

    h4 {
        color: $textColor;
    }

    > h3 {
        font-weight: bold;
        margin-top: 30px;
        color: #222222;
        font-size: 16px;

        &:first-child {
            margin-top: 0px !important;
        }
    }
}

.SubSubMenu {
    padding: 15px 30px;

    ul {
        margin: 0;
        padding: 0;
        width: 100%;

        li {
            list-style: none;
            width: 20%;
            float: left;
            margin-top: 5px;

            a:hover {
                color: #229be0
            }
        }
    }
}

/* Demo Source Section */
.source {
    padding: 37px 40px 37px 40px;

    h3 {
        color:  $textColor;
        margin-top: 25px;
        margin-bottom: 0px;
        font-size: 24px;
        font-weight: normal;
    }

    h4 {
        color:  $textColor;
        margin-top: 25px;
        margin-bottom: 0px;
        font-size: 20px;
        font-weight: normal;
    }

    p {
        color:  $textColor;
        font-size: 16px;
        line-height: 24px;
        margin: 10px 0;
        opacity: .90;
    }

    .doc-tablewrapper {
        margin: 10px 0;
    }

    a {
        color: #03c4e8;
    }

    /* Demo Tabs Source */
    .ui-tabview {
        background: none;
        border: 0 none;
        color: #5C666A;
        font-weight: lighter;
        -moz-border-radius: 4px !important;
        -webkit-border-radius: 4px !important;
        border-radius: 4px !important;

        &.ui-tabview-top > .ui-tabview-nav li {
            top: 0px !important;
        }

        .ui-tabview-nav {
            height: 35px;
            border-radius: 3px;
            background-color: $docLightColor;
            padding: 4px 4px 0px 4px;

            li,
            li.ui-state-hover {
                margin-right: 4px;
                height: 31px;
                box-shadow: none !important;
            }

            li{
                a {
                    padding-top: 8px;
                }

                &.tab-doc {
                    margin-right: 0;
                }

                &.ui-state-default {
                    border:none;
                    a {
                        border-radius: 3px 3px 0 0;
                        color: #fff !important;
                        font-weight: normal !important;
                        text-shadow: none ;
                        height: inherit;
                        background-color: #00829b;
                    }
                }

                &.ui-state-active a {
                    color: #6b6b6b !important;
                    background: #f9ffff !important;
                    font-weight: normal !important;

                }

                &.ui-state-hover {
                    box-shadow: none !important;;
                }

                &.ui-tabview-selected {
                    background: #f9ffff !important;
                }
            }
        }

        .ui-tabview-panels {
            border-top: 1px solid #F5F6F7 !important;;
            color: #5C666A !important;
            background: #F5F6F7;

            .ui-tabview-panel {
                padding: 0px;
            }

        }
    }
}

/* Demo Docs Table */
.doc-table {
    border-collapse: collapse;
    width: 100%;
    border: solid 1px #d0dee0;

    th {
        color:  $textColor;
        background-color: #d7f9ff;
        font-weight: bold;
        padding: 8px 20px 7px;
        text-align: left;
    }

    tbody{
        td {
            color:  $textColor;
            padding: 8px 20px;
            border: 1px solid #E5EBF0;
            opacity: .90;
        }

        tr{
            &:nth-child(even) {
                background-color: #f3fbfc;
            }
            &:nth-child(odd) {
                background-color: #ffffff;
            }
        }
    }
}

@media screen and (max-width: 64em) {
    #layout-topbar {
        text-align: center;

        .menu-button {
            display: inline-block;
        }

        .logo {
            margin: 7px 0 7px 0;

            img{
                &:first-child {
                    width: 34px;
                    height: 38px;
                    margin-right: 5px;
                }
                &:last-child {
                    width: 150px;
                }
            }
        }
    }

    .topbar-menu {
        background-color: #363c3f;
        float: none;
        width: 100%;
        height: 40px;
        margin: 0;
        text-align: center;

        > li {
            > a {
                padding-bottom: 0;
                line-height: 40px;
                min-width: 100px;
            }
            &.topbar-menu-themes > ul {
                top: 40px;
                text-align: left;
            }
        }
    }

    #layout-sidebar {
        top: 100px;
        left: -300px;
        transition: left .3s;
        z-index: 999998;

        &.active {
            left: 0;
        }
    }

    #layout-content {
        margin-left: 0;
        padding-top: 99px;
    }

    .content-section {
        padding: 14px 24px;
    }

    .home{
        .introduction > div {
            width: 100%;
        }

        .features > div {
            width: 100%;
        }

        .whouses > div {
            width: 100%;
        }

        .prosupport > div {
            width: 100%;
        }
    }

    .SubSubMenu ul li {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .doc-table tbody td {
        word-break: break-all;
    }
}

/* Code Styles */
pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-family: Courier, 'New Courier', monospace;
    font-size: 14px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 1em;
    background-color: #CFD8DC;
    color: #404C51;
    margin: 10px 0px;
}
pre[class*="language-"] {
    border-left-color: $docLightColor !important;
    -moz-box-shadow: -1px 0px 0px 0px $docLightColor, 0px 0px 0px 1px #dfdfdf !important;
    -webkit-box-shadow: -1px 0px 0px 0px $docLightColor, 0px 0px 0px 1px #dfdfdf !important;
    box-shadow: -1px 0px 0px 0px $docLightColor, 0px 0px 0px 1px #dfdfdf !important;
}

input[type="number"] {
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
a{
    text-decoration: none;
    color: #4eafe6;
}
/* Grid Demos */
.grid-demo .ui-g div {
    background-color: #ededed;
    text-align: center;
    border: 1px solid #fafafa;
}
