@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../../public/showcase/resources/fonts/roboto-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../../public/showcase/resources/fonts/roboto-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../public/showcase/resources/fonts/roboto-v15-latin-regular.woff2") format("woff2"), url("../../public/showcase/resources/fonts/roboto-v15-latin-regular.woff") format("woff"), url("../../public/showcase/resources/fonts/roboto-v15-latin-regular.ttf") format("truetype"), url("../../public/showcase/resources/fonts/roboto-v15-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */ }
body {
  margin: 0px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f6f6f6;
  font-family: "Roboto", "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #6b6b6b;
  -webkit-font-smoothing: antialiased;
  font-size: 1em; }

/* App Component*/
/* Topbar */
#layout-topbar {
  background-color: #20272a;
  box-sizing: border-box;
  display: block;
  padding: 0;
  height: 70px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3); }
  #layout-topbar .menu-button {
    display: none;
    color: #ffffff;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    line-height: 58px;
    text-align: center;
    transition: background-color .3s; }
    #layout-topbar .menu-button:hover {
      background-color: #4a4f52; }
    #layout-topbar .menu-button i {
      line-height: inherit; }
  #layout-topbar .logo {
    margin-left: 45px;
    margin-top: 15px;
    display: inline-block; }
    #layout-topbar .logo img:last-child {
      width: 166px;
      height: 41px;
      object-fit: contain; }
    #layout-topbar .logo img:first-child {
      width: 40px;
      height: 44px;
      margin-right: 10px; }

.topbar-menu {
  display: inline-block;
  list-style-type: none;
  float: right;
  margin: 0 60px 0 0;
  padding: 0;
  height: 100%; }
  .topbar-menu > li {
    display: inline-block;
    height: 100%; }
    .topbar-menu > li > a {
      text-decoration: none;
      color: #ffffff;
      transition: background-color .3s;
      min-width: 120px;
      display: inline-block;
      text-align: center;
      box-sizing: border-box;
      height: 100%;
      line-height: 70px; }
      .topbar-menu > li > a:hover {
        background-color: #4a4f52; }
    .topbar-menu > li > ul {
      display: none; }
    .topbar-menu > li.topbar-menu-themes {
      position: relative; }
      .topbar-menu > li.topbar-menu-themes > ul {
        position: absolute;
        top: 65px;
        left: -50px;
        width: 200px;
        max-height: 300px;
        background-color: #ffffff;
        -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
        overflow: auto;
        list-style-type: none;
        padding: 15px 0;
        margin: 0;
        border-radius: 3px;
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
        animation-duration: .5s; }
        .topbar-menu > li.topbar-menu-themes > ul > li.topbar-submenu-header {
          padding: 6px 12px;
          font-weight: bold;
          text-align: left;
          background-image: linear-gradient(to left, #2bc0ec, #1b81d7);
          color: #ffffff; }
        .topbar-menu > li.topbar-menu-themes > ul a {
          text-decoration: none;
          color: #404C51;
          padding: 6px 12px;
          display: block;
          transition: all 0.5s ease; }
          .topbar-menu > li.topbar-menu-themes > ul a:hover {
            background-color: #eeeeee; }
          .topbar-menu > li.topbar-menu-themes > ul a img {
            width: 32px;
            vertical-align: middle; }
          .topbar-menu > li.topbar-menu-themes > ul a .ui-text {
            vertical-align: middle;
            margin-left: 8px; }
    .topbar-menu > li:hover > ul {
      display: block; }

/* Animation */
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 1;
    transform: none; } }
/* Sidebar */
#layout-sidebar {
  position: fixed;
  left: 0;
  top: 70px;
  height: 100%;
  background-color: #ffffff;
  overflow: hidden;
  width: 300px;
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); }
  #layout-sidebar .layout-menu {
    overflow: auto;
    height: calc(100% - 70px); }
    #layout-sidebar .layout-menu > a {
      width: 100%;
      height: 50px;
      display: block;
      padding: 15px 0px 0px 25px;
      cursor: pointer;
      border-top: solid 1px #e3e9ea;
      box-sizing: border-box; }
      #layout-sidebar .layout-menu > a:hover {
        background-color: #eeeeee;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
      #layout-sidebar .layout-menu > a span {
        color: #484848;
        font-weight: bold;
        font-size: 16px;
        margin: 0px 0px 0px 30px;
        display: block; }
      #layout-sidebar .layout-menu > a img {
        width: 20px;
        height: auto;
        float: left; }
        #layout-sidebar .layout-menu > a img.layout-menu-icon-active {
          display: none; }
        #layout-sidebar .layout-menu > a img.layout-menu-icon-inactive {
          display: inline; }
      #layout-sidebar .layout-menu > a.active-menuitem {
        background-color: #ffffff !important;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        #layout-sidebar .layout-menu > a.active-menuitem > span {
          color: #03c4e8;
          font-weight: bold; }
        #layout-sidebar .layout-menu > a.active-menuitem img.layout-menu-icon-active {
          display: inline; }
        #layout-sidebar .layout-menu > a.active-menuitem img.layout-menu-icon-inactive {
          display: none; }
    #layout-sidebar .layout-menu > div {
      width: auto;
      padding: 20px 15px;
      overflow: hidden;
      background-color: #ffffff; }
      #layout-sidebar .layout-menu > div.submenuhide {
        overflow: hidden;
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        -moz-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1); }
      #layout-sidebar .layout-menu > div.submenushow {
        -moz-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        max-height: 500px; }
      #layout-sidebar .layout-menu > div a {
        width: 50%;
        float: left;
        padding: 6px;
        box-sizing: border-box;
        cursor: pointer;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        font-size: 14px;
        color: #7a8687; }
        #layout-sidebar .layout-menu > div a :hover {
          background-color: #eeeeee; }

/* Mask */
.layout-mask {
  z-index: 999997;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 99px;
  left: 0;
  background-color: #4c5254;
  opacity: .7; }

/* Content */
#layout-content {
  margin-left: 300px;
  padding-top: 70px;
  background-color: #f9f9f9; }

.content-section {
  display: block;
  border-bottom: solid 1px #dde3e6;
  padding: 30px;
  background-color: #f5f7f8; }
  .content-section:first-of-type > div > span {
    line-height: 1.5em; }
  .content-section h2 {
    margin-top: 0; }

/*Footer*/
.layout-footer {
  font-size: 14px;
  color: #84939f; }
  .layout-footer .footer-links {
    float: right;
    font-size: 24px; }
  .layout-footer a {
    margin-left: 16px; }

.icon-github {
  width: 29.1px;
  height: 29.1px;
  color: #20272a; }

.icon-twitter {
  width: 29.1px;
  height: 29.1px;
  color: #20272a; }

/** ClearFix **/
.clearfix {
  display: inline-block; }
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

/* required comment for clearfix to work in Opera \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* Home Component*/
.home {
  /* Introduction */
  /* Features */
  /* Who Uses */
  /* PRO */ }
  .home p {
    line-height: 22px; }
  .home .introduction {
    background-color: #1976d2;
    background: url("../../public/showcase/resources/images/primereact-slider-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 80px 30px 80px 50px; }
    .home .introduction h1 {
      font-weight: normal;
      margin-bottom: 5px; }
    .home .introduction h2 {
      font-weight: bold;
      margin-bottom: 40px;
      margin-top: 0; }
    .home .introduction .home-button {
      width: 112px;
      height: 24px;
      font-weight: 500;
      text-align: center;
      color: #ffffff;
      background-color: #03C4E8;
      padding: 10px 24px 9px 24px;
      border-radius: 3px;
      transition: background-color .3s; }
      .home .introduction .home-button:hover {
        background-color: #029cb9; }
    .home .introduction > div {
      padding: 100px 100px 0 100px;
      height: 200px; }
  .home .features {
    background-color: #f5f7f8;
    text-align: center;
    padding: 30px; }
    .home .features h3 {
      font-size: 24px;
      color: #484848;
      margin-bottom: 25px; }
    .home .features img {
      width: 57px; }
    .home .features .feature-name {
      display: block;
      font-weight: bold;
      font-size: 16px;
      margin-top: 4px;
      color: #20272a; }
    .home .features .ui-g p {
      color: #20272a;
      margin-bottom: 30px; }
    .home .features .ui-g > div {
      padding: .5em 2em; }
    .home .features p {
      margin-bottom: 30px; }
      .home .features p.features-tagline {
        color: #484848;
        margin-bottom: 0;
        margin-top: -5px; }
      .home .features p.features-description {
        color: #484848;
        text-align: left; }
      .home .features p > a {
        font-weight: bold;
        color: #03c4e8; }
  .home .whouses {
    background-color: #222222;
    color: #ffffff;
    text-align: center;
    padding: 30px; }
    .home .whouses h3 {
      margin-bottom: 10px; }
    .home .whouses img {
      height: 30px;
      width: 100%; }
    .home .whouses .ui-g > div {
      padding: 1em .5em; }
    .home .whouses p {
      margin-bottom: 30px; }
      .home .whouses p > a {
        font-weight: bold;
        color: #03c4e8; }
  .home .prosupport {
    border-bottom: 1px solid #dcdedf;
    background-color: #f5f7f8;
    padding: 30px;
    color: #222222; }
    .home .prosupport p {
      line-height: 22px; }
    .home .prosupport h3 {
      font-size: 24px; }
    .home .prosupport img {
      margin-top: 10px; }
    .home .prosupport .ui-md-6:last-child {
      text-align: center; }
    .home .prosupport .home-button2 {
      width: 112px;
      height: 24px;
      font-weight: 500;
      text-align: center;
      color: #ffffff;
      background-color: #E8037D;
      padding: 10px 24px 9px 24px;
      border-radius: 3px;
      transition: background-color .3s; }
      .home .prosupport .home-button2:hover {
        background-color: #b90264; }

/* Demo Components*/
/* Demo Introduction*/
.introduction {
  padding: 38px 20px 38px 20px;
  background-image: linear-gradient(to right, #008fba, #03c4e8);
  color: #ffffff; }

.feature-title {
  font-size: 30px;
  margin-bottom: 20px;
  display: block; }

.feature-intro h1 {
  font-size: 28px;
  margin: 0 0 12px 0;
  display: block;
  text-align: left;
  color: #ffffff;
  font-weight: normal; }
.feature-intro p {
  margin: 0;
  line-height: 1.5em; }

/* Demo Implementation*/
.implementation {
  padding: 42px 29px 42px 29px;
  background-color: #FFFFFF;
  border: solid 1px #eaeaea;
  text-align: left; }
  .implementation > div {
    color: #484848; }
  .implementation h4 {
    color: #484848; }
  .implementation > h3 {
    font-weight: bold;
    margin-top: 30px;
    color: #222222;
    font-size: 16px; }
    .implementation > h3:first-child {
      margin-top: 0px !important; }

.SubSubMenu {
  padding: 15px 30px; }
  .SubSubMenu ul {
    margin: 0;
    padding: 0;
    width: 100%; }
    .SubSubMenu ul li {
      list-style: none;
      width: 20%;
      float: left;
      margin-top: 5px; }
      .SubSubMenu ul li a:hover {
        color: #229be0; }

/* Demo Source Section */
.source {
  padding: 37px 40px 37px 40px;
  /* Demo Tabs Source */ }
  .source h3 {
    color: #484848;
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: normal; }
  .source h4 {
    color: #484848;
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: normal; }
  .source p {
    color: #484848;
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0;
    opacity: .90; }
  .source .doc-tablewrapper {
    margin: 10px 0; }
  .source a {
    color: #03c4e8; }
  .source .ui-tabview {
    background: none;
    border: 0 none;
    color: #5C666A;
    font-weight: lighter;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important; }
    .source .ui-tabview.ui-tabview-top > .ui-tabview-nav li {
      top: 0px !important; }
    .source .ui-tabview .ui-tabview-nav {
      height: 35px;
      border-radius: 3px;
      background-color: #03c4e8;
      padding: 4px 4px 0px 4px; }
      .source .ui-tabview .ui-tabview-nav li,
      .source .ui-tabview .ui-tabview-nav li.ui-state-hover {
        margin-right: 4px;
        height: 31px;
        box-shadow: none !important; }
      .source .ui-tabview .ui-tabview-nav li a {
        padding-top: 8px; }
      .source .ui-tabview .ui-tabview-nav li.tab-doc {
        margin-right: 0; }
      .source .ui-tabview .ui-tabview-nav li.ui-state-default {
        border: none; }
        .source .ui-tabview .ui-tabview-nav li.ui-state-default a {
          border-radius: 3px 3px 0 0;
          color: #fff !important;
          font-weight: normal !important;
          text-shadow: none;
          height: inherit;
          background-color: #00829b; }
      .source .ui-tabview .ui-tabview-nav li.ui-state-active a {
        color: #6b6b6b !important;
        background: #f9ffff !important;
        font-weight: normal !important; }
      .source .ui-tabview .ui-tabview-nav li.ui-state-hover {
        box-shadow: none !important; }
      .source .ui-tabview .ui-tabview-nav li.ui-tabview-selected {
        background: #f9ffff !important; }
    .source .ui-tabview .ui-tabview-panels {
      border-top: 1px solid #F5F6F7 !important;
      color: #5C666A !important;
      background: #F5F6F7; }
      .source .ui-tabview .ui-tabview-panels .ui-tabview-panel {
        padding: 0px; }

/* Demo Docs Table */
.doc-table {
  border-collapse: collapse;
  width: 100%;
  border: solid 1px #d0dee0; }
  .doc-table th {
    color: #484848;
    background-color: #d7f9ff;
    font-weight: bold;
    padding: 8px 20px 7px;
    text-align: left; }
  .doc-table tbody td {
    color: #484848;
    padding: 8px 20px;
    border: 1px solid #E5EBF0;
    opacity: .90; }
  .doc-table tbody tr:nth-child(even) {
    background-color: #f3fbfc; }
  .doc-table tbody tr:nth-child(odd) {
    background-color: #ffffff; }

@media screen and (max-width: 64em) {
  #layout-topbar {
    text-align: center; }
    #layout-topbar .menu-button {
      display: inline-block; }
    #layout-topbar .logo {
      margin: 7px 0 7px 0; }
      #layout-topbar .logo img:first-child {
        width: 34px;
        height: 38px;
        margin-right: 5px; }
      #layout-topbar .logo img:last-child {
        width: 150px; }

  .topbar-menu {
    background-color: #363c3f;
    float: none;
    width: 100%;
    height: 40px;
    margin: 0;
    text-align: center; }
    .topbar-menu > li > a {
      padding-bottom: 0;
      line-height: 40px;
      min-width: 100px; }
    .topbar-menu > li.topbar-menu-themes > ul {
      top: 40px;
      text-align: left; }

  #layout-sidebar {
    top: 100px;
    left: -300px;
    transition: left .3s;
    z-index: 999998; }
    #layout-sidebar.active {
      left: 0; }

  #layout-content {
    margin-left: 0;
    padding-top: 99px; }

  .content-section {
    padding: 14px 24px; }

  .home .introduction > div {
    width: 100%; }
  .home .features > div {
    width: 100%; }
  .home .whouses > div {
    width: 100%; }
  .home .prosupport > div {
    width: 100%; }

  .SubSubMenu ul li {
    width: 50%; } }
@media (max-width: 768px) {
  .doc-table tbody td {
    word-break: break-all; } }
/* Code Styles */
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-family: Courier, 'New Courier', monospace;
  font-size: 14px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 1em;
  background-color: #CFD8DC;
  color: #404C51;
  margin: 10px 0px; }

pre[class*="language-"] {
  border-left-color: #03c4e8 !important;
  -moz-box-shadow: -1px 0px 0px 0px #03c4e8, 0px 0px 0px 1px #dfdfdf !important;
  -webkit-box-shadow: -1px 0px 0px 0px #03c4e8, 0px 0px 0px 1px #dfdfdf !important;
  box-shadow: -1px 0px 0px 0px #03c4e8, 0px 0px 0px 1px #dfdfdf !important; }

input[type="number"] {
  -moz-appearance: textfield; }
  input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }

a {
  text-decoration: none;
  color: #4eafe6; }

/* Grid Demos */
.grid-demo .ui-g div {
  background-color: #ededed;
  text-align: center;
  border: 1px solid #fafafa; }

