/node_modules
/public/resources/primereact.css
/public/resources/primereact.min.css
/public/resources/**/*.map
/public/resources/images/
.DS_Store
/dist
/build
/vscode
/.vscode
/idea
/.idea
/.sass-cache
/resources
/components
/src/assets/style/app/App.css
/src/assets/style/app/App.css.map
package-lock.json

# Themes
public/themes/soho-light/
public/themes/soho-dark/
public/themes/viva-light/
public/themes/viva-dark/
public/themes/mira/
public/themes/nano/
