# Ignore artifacts:
build
coverage
dist
out
public
node_modules
.vscode
.husky
/tsconfig.json
**/source.auto.ts
**/__store__
pnpm-lock.yaml
package-lock.json
yarn.lock
.prettierignore
.npmrc
.editorconfig
.gitattributes
