.p-inputtextarea-resizable {
    overflow: hidden;
    resize: none;
}

.p-fluid .p-inputtextarea {
    width: 100%;
}

/* Floating Label */
.p-float-label {
    display: block;
    position:relative; 
}

.p-float-label label {
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left: .25em;
  top: 50%;
  margin-top: -.5em;
  transition: 0.3s ease all; 
  -moz-transition: 0.3s ease all; 
  -webkit-transition: 0.3s ease all;
  color: #898989;
  line-height: 1;
}
    
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label {
  top:-.75em;
  font-size:12px;
}

.p-float-label .textarea:-webkit-autofill ~ label {
  top:-20px;
  font-size:12px;
}