.doc {
    display: flex;
    flex-wrap: wrap;

    > .doc-main {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        min-width: 0;
    }

    .doc-section-label {
        display: flex;
        align-items: center;

        > a {
            font-size: 1.25rem;
            color: var(--primary-color);
            opacity: .7;
            margin-left: 1rem;
            display: none;
            transition: opacity .3s, colors .3s;
        }

        &:hover {
            > a {
                display: block;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .doc-section-description {
        font-size: 1.125rem;
        
        i {
            background-color: var(--primary-100);
            color: var(--primary-900);
            border-radius: 6px;
            padding: 2px 6px;
            font-size: .875rem;
            font-weight: 600;
            font-style: normal;
        }

        a {
            color: var(--primary-color);
            font-weight: 600;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}


.doc-section-nav {
    position: sticky;
    list-style: none;
    width: 20rem;
    height: calc(100vh - 15rem);
    top: 7rem;
    right: 0;
    flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0.25rem 1rem;
    margin: 0 1rem;
    overflow-y: auto;
    li {
        &.navbar-item{
            border-left-style: solid;
            border-left-width: 2px;
            border-color: var(--surface-border);
                button {
                    display: inline;
                    padding: 0.25rem;
                    margin-left: 0.5rem;
                    color: var(--text-color);
                    z-index: 1;
                    &:hover {
                        color: var(--primary-color);
                    }
                }
            &.active-navbar-item {
                border-color: var(--primary-color);
                button {
                    font-weight: 700;
                    color: var(--primary-color);
                }
            }
        }
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;   
        li{
            &.navbar-child-item{    
                padding: 0.25rem;
                border-left: 5rem;
                border-left-width: 2px;
                border-left-style: solid;
                border-color: var(--surface-border);
                z-index: 1;
                button {
                    padding: 0.25rem;
                    margin-left: 0.5rem;
                    padding-left: 1rem;
                    font-size: .875rem;
                    color: var(--text-color);
                    z-index: 1;
                    &:hover {
                        color: var(--primary-color);
                    }
                }
            &.active-navbar-child-item{
                border-color: var(--primary-color);
                button {
                    font-weight: 600;
                    color: var(--primary-color);
                }
            }
        }
        }
    }
   
}

.doc-section-code-tooltip .p-tooltip-text {
    padding: .5rem;
    font-size: 11px;
}

.doc-section-code {
    div{
        &::-webkit-scrollbar {
           display: none;
          }

    }
    .p-button-label {
        font-weight: normal;
        font-size: .875rem;
    }

    .doc-section-code-active {
        .p-button-label {
            font-weight: bold;
        }
    }

    pre {
        margin: 0 0 1.5rem 0;
    }
}