.doc {
    display: flex;
    flex-wrap: wrap;

    > .doc-main {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        min-width: 0;
    }

    .doc-section-label {
        display: flex;
        align-items: center;

        > a {
            font-size: 1.25rem;
            color: var(--primary-color);
            opacity: .7;
            margin-left: 1rem;
            display: none;
            transition: opacity .3s, colors .3s;
        }

        &:hover {
            > a {
                display: block;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .doc-section-description {
        font-size: 1.125rem;
        
        i {
            background-color: var(--primary-100);
            color: var(--primary-900);
            border-radius: 6px;
            padding: 2px 6px;
            font-size: .875rem;
            font-weight: 600;
            font-style: normal;
        }

        a {
            color: var(--primary-color);
            font-weight: 600;

            &:hover {
                text-decoration: underline;
            }
        }
    }

        .doc-external-link {
            display: flex;
            align-items: center;
                > i {
                    color: var(--primary-color);
                    opacity: .7;
                    margin-left: .5rem;
                    display: none;
                    transition: opacity .3s, colors .3s;
                }
            
            &:hover {
                > i {
                display: block;
    
                &:hover {
                    opacity: 1;
                }
                }
            }
        }
}

.doc-section-code-tooltip .p-tooltip-text {
    padding: .5rem;
    font-size: 11px;
}

.doc-section-code {
    .p-button-label {
        font-weight: normal;
        font-size: .875rem;
    }

    .doc-section-code-active {
        .p-button-label {
            font-weight: bold;
        }
    }

    pre {
        margin: 0 0 1.5rem 0;
    }
}