$transitionDuration: .4s;

.animated {
    transform: translate3d(0px, 0px, 0px) !important;
    transition: all 1s;
    opacity: 1 !important;
}

@keyframes topBottomTop {
    from {
        transform: translate(0,10%);
        opacity: 0;
    }
    to {
        transform: translate(0,0);
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, 20px, 0);
    }
    
    to {
      opacity: 1;
      transform: none;
    }
}

.landing-body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

    a {
        text-decoration: none;
    }

    .landing-button, .landing-button-alt {
        text-align: center;
        box-sizing: border-box;
        padding: 12px 16px;
        border-radius: 1px;
        background-color: #61dafb;
        border: none;
        cursor: pointer;
        display: inline-block;
        min-width: 120px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
        transition: background-color $transitionDuration;

        > span {
            font-size: 16px;
            font-weight: normal;
            color: #20272a;

            &:first-child {
                font-weight: 600;
            }
        }

        &:hover {
            background-color: #80e1fb;
        }
    }

    .landing-button-alt {
        background-color: #ffffff;

        > span {
            color: #20272a;
        }

        &:hover {
            background-color: #ebebeb;
        }
    }

    .landing-topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:9px 6%;
        background-color: #282c34;

        > img {
            height: 42px;
            width: auto;
        }

        .landing-topbar-menu {
            display: flex;
            align-items: center;
            user-select: none;

            .dropdown{
                padding: 0;
                list-style-type: none;
                display: flex;
                align-items: center;
                width: 100%;

                > li {
                    margin-left: 8px;

                    &:first-child {
                        margin-left: 0;
                    }

                    > a {
                        font-size: 16px;
                        color: #ffffff;
                        display: block;
                        align-items: center;
                        padding: 20px;
                        font-weight: 500;
                        cursor: pointer;
                        border: none;
                        outline: 0 none;
                        background: transparent;
                        transition: background-color .2s;
                        text-align: center;
                        
                        img {
                            margin-left: 8px;
                            vertical-align: middle;
                        }

                        span {
                            vertical-align: middle;
                        }
        
                        &:hover { 
                            background-color: #3d4148;
                        }
                    }
                }

                .sub-toggle {
                    position: relative;

                    > a {
                        padding: 20px 40px 20px 20px;
    
                        &::after {
                            content: "\25BE";
                            float: right;
                            margin-right: -17px;
                        }

                        &:hover { 
                            background-color: #3d4148;
                        }
                    }
                    .list {
                        display: none;
                        z-index: 999;
                        position: absolute;
                        right: 6px;
                        top: 66px;
                        box-shadow: 0 2px 10px 0 rgba(0, 3, 6, 0.16);

                        &:after, &:before {
                            bottom: 100%;
                            right: 12px;
                            border: solid transparent;
                            content: " ";
                            height: 0;
                            width: 0;
                            position: absolute;
                            pointer-events: none;
                        }

                        &:after {
                            border-width: 8px;
                            margin-left: -8px;
                            border-color: rgba(255, 255, 255, 0);
                            border-bottom-color: #ffffff;
                            margin-bottom: -1px;
                            margin-right: 2px;
                        }

                        &:before {
                            border-width: 10px;
                            margin-left: -10px;
                            border-color: rgba(200, 200, 200, 0);
                            border-bottom-color: #c8c8c8;
                            margin-bottom: -1px;
                        }


                        &.show {
                            display: block;
                            animation: fadeInDown .4s ;
                        }

                        ul{
                            margin: 0;
                            padding: 6px 0;
                            width: 100%;
                            min-width: 190px;
                            border-radius: 2px;
                            border: 1px solid #c8c8c8;
                            background-color: #ffffff;
                            max-height: 330px;
                            overflow: auto;
    
                            li {
                                list-style: none;
                                padding: 0;
                                a {
                                    font-size: 14px;
                                    display: block;
                                    padding: 12px;
                                    text-decoration: none;
                                    color: #20272a;
                                    transition: background-color .2s;
    
                                    &:hover { 
                                        background-color: #ebebeb;
                                    }
                                } 
                            }
                        }
                    }
                    &.templates {
                        ul {
                            max-height: 250px;
                            min-width: 220px;
                            li {
                                a {
                                    display: flex;
                                    align-items: center;
    
                                    img {
                                        width: 32px;
                                    }
    
                                    span {
                                        margin-left: 8px;
                                    }
    
                                    .tag {
                                        margin-left: 4px;
                                        padding: 2px 4px;
                                        border-radius: 3px;
                                        color: #fff;
                                        font-weight: 700;
                                        font-size: 11px;
                                    }
                                }
                            }
                        }
                    }
                }
            }   
            > a {
                font-size: 16px;
                color: #ffffff;
                display: flex;
                align-items: center;
                padding: 20px;
                font-weight: 500;
                transition: background-color .2s;
                      
                &:hover { 
                    background-color: #3d4148;
                }
                
                img {
                    margin-left: 8px;
                }
            }
        }
    }
    
    .landing-header {
        display: flex;
        justify-content: space-between;
        padding: 84px 6%;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.03), #f4f5f5, #ffffff);
        overflow: hidden;

        .landing-header-left {
            padding-right: 50px;
             
            > h1 {
                font-size: 42px;
                font-weight: 600;
                line-height: 1.38;
                color: #20272a;
                margin: 0;
                margin-bottom: 16px;
            }

            > p {
                font-size: 16px;
                line-height: 1.5;
                margin: 0;
                color: #20272a;
                margin-bottom: 24px;

                > a {
                    font-weight: 600;
                    color: #03c4e8;
                }
            }

            .landing-button-alt {
                margin-left: 8px;
            }

            > span {
                display: block;
                margin-top: 62px;
                font-size: 16px;
                color: #20272a;
            }

            .technologies {
                display: flex;
                align-items: center;
                margin-top: 12px;
                margin-bottom: 16px;

                > a {
                    margin-right: 16px;
                    position: relative;

                    > img {
                        width: 64px;
                        height: auto;
                        transition: transform $transitionDuration;
                    }

                    &:hover {
                        img {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }

        .landing-header-right {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            > img {
                width: 100%;
                max-width: 650px;
            }
        }
    }

    .landing-trustedby {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 70px 5% 40px 5%;
        flex-wrap: wrap;
        background-color: #20272a;

        .trustby-company {
            width: 14%;
            margin-bottom: 30px;
            min-width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .landing-features {
        padding:84px 6%;

        > h1 {
            font-size: 42px;
            font-weight: 600;
            line-height: 1.38;
            color: #20272a;
            margin: 0;
            margin-bottom: 4px;
        }

        > p {
            font-size: 16px;
            line-height: 1.5;
            color: #20272a;
            margin: 0;

            a {
                color: #4daec8;
                font-weight: 700;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .features-cards {
            margin-top: 32px;

            > div {
                padding: 1rem;
            }
           
            .features-card {
                border-radius: 1px;;
                box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
                background-color: #ffffff;
                text-align: center;
                height: 100%;
                
                > img {
                    width: 100%;
                    margin-bottom: 12px;
                    animation: topBottomTop 1s 1 cubic-bezier(.175,.885,.32,1.275);

                    &.animated {
                        transform: none;
                        animation: topBottomTop 1s 1 cubic-bezier(.175,.885,.32,1.275);
                    }
                }

                > h2 {
                    font-size: 16px;
                    font-weight: 600;
                    color: #20272a;
                    margin: 0;
                    margin-bottom: 6px;
                }

                > span {
                    font-size: 14px;
                    color: #20272a;
                    padding: 0 12px;
                    display: block;
                    margin-bottom: 26px;
                    line-height: 1.5;
                }
            }
        }
    }

    .landing-promo {
        margin: 0 6% 84px;
        background-color: #20272a;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 32px 42px ;

        .promo-text {
            h2 {
                font-size: 20px;
                font-weight: 600;
                color: #ffffff;
                margin: 0;
                margin-bottom: 8px;
            }
            p {
                margin: 0;
                font-size: 16px;
                color: #ffffff;

                a {
                    color: #61dafb;
                    font-weight: 700;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .landing-component-features {
        padding: 0 6%;  
        overflow: hidden;

        .landing-component-feature {
            flex-direction: row;

            &.image-right {
                flex-direction: row-reverse;
                .component-feature-text {
                    align-items: flex-start;
                    padding-right: 120px;
                    padding-left: .5em;
                    P {
                        text-align: left;
                    }
                }
            }

            .component-image {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                img {
                    width: 100%;
                }
            }
            

            .component-feature-text {
                text-align: right;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                padding-left: 120px;

                > h1 {
                    font-size: 42px;
                    font-weight: 600;
                    line-height: 1.38;
                    color: #20272a;
                    margin: 0;
                    margin-bottom: 12px;
                }

                > p {
                    font-size: 16px;
                    line-height: 1.5;
                    margin: 0;
                    color: #20272a;
                    margin-bottom: 24px;
                    text-align: right;
                }

                .landing-link {
                    color: #4daec8;
                    font-weight: 700;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .landing-templates {
        padding:84px 6%;

        > h1 {
            font-size: 42px;
            font-weight: 600;
            line-height: 1.38;
            color: #20272a;
            margin: 0;
            margin-bottom: 4px;
        }

        > p {
            font-size: 16px;
            line-height: 1.5;
            color: #20272a;
            margin: 0;
        }
        
        .template-cards {
            margin-top: 36px;

            .template-card {
                border-radius: 1px;;
                display: block;

                img {
                    width: 100%;
                    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
                }

                &:hover {
                    transform: scale(1.03);
                    transition: transform $transitionDuration;
                }
            }
        }
    }
    
    .landing-product-features {
        padding: 0 0 42px;

        .product-feature {
            padding: 42px 6%;

            .product-image {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                img {
                    width: 100%;
                }
            }
            
            &.designer {
                position: relative;
                align-items: center;
                justify-content: flex-end;
                min-height: 420px;

                .product-feature-text {
                    position: absolute;
                    left: 6%;
                }

                .product-image {
                    padding: 12px 0;
                }
            }

            &.dark {
                background-color: #20272a;
                .product-feature-text {
                    > h1,
                    > p {
                        color: #ffffff;
                    }
                }
            }

            .product-feature-text {
                text-align: left;
                padding-right: 120px;

                > h1 {
                    font-size: 42px;
                    font-weight: 600;
                    line-height: 1.38;
                    color: #20272a;
                    margin: 0;
                    margin-bottom: 12px;
                }

                > p {
                    font-size: 16px;
                    line-height: 1.5;
                    margin: 0;
                    color: #20272a;
                    margin-bottom: 24px;
                }
            }
        }
    }

    .landing-footer {
        background-color: #20272a;
        padding: 36px 6%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .social-icons {
            display: flex;
            align-items: center;

            a {
                color: #ffffff;
                margin-left: 40px;
                
                img {
                    width: 32px;
                    height: 32px;
                }
                
                &:hover {
                   color: #cc5264;
                   transition: color $transitionDuration;
                }
            }
        }
    }
}

@media (max-width:992px){
    img {
        opacity: 1 !important;
    }
    .landing-body {
        .landing-topbar {
            justify-content: center;
            flex-direction: column;
            padding: 32px 0 0 0;
            
            .landing-button {
                display: none;
            }

            .landing-topbar-menu {
                width: 100%;
                .dropdown {
                    width: 100%;

                    > li {
                        margin-left: 0;
                        flex: 1 0;

                        > a {
                            font-size: 14px;
                            padding: 20px 10px;
                        }
                    }

                    .sub-toggle {
                        position: unset;

                        > a {
                            padding: 20px 30px 20px 20px;
                        }

                        .list {
                            top: auto;
                            right: auto;

                            &:before, &:after {
                                display: none;
                            }
                        }

                        ul {
                            left: 0;
                        }
                    }
                }
            }
        }
        .landing-header {
            flex-direction: column-reverse;

            .landing-header-left {
                text-align: center;
                padding-right: 0;

                .technologies {
                    justify-content: center;
                }
            }

            .landing-header-right {
                margin-bottom: 24px;
                justify-content: center;
                > img {
                    max-width: 500px;
                }
            }
        }
        .landing-promo {
            flex-wrap: wrap;

            .promo-text {
                margin-bottom: 12px;
            }
        }
        .landing-component-features{
            .landing-component-feature {
                &.image-right {
                    .component-feature-text {
                        padding-right: 0px;
                       align-items: center;
                    } 
                }
                .component-feature-text {
                    order: 2;
                   align-items: center;
                    padding-left: 0px;
                    margin-bottom: 32px;

                    p {
                        text-align: center;
                    }
                }
                .component-image {
                    order: 1;
                    justify-content: center;
                }
            }
        }
        .landing-product-features{
            .product-feature {
                &.designer {
                    position: relative;
                   align-items: center;
                    justify-content: center;
    
                    .product-feature-text {
                        position: relative;
                        left: 0;
                        top: 0;
                    }

                    .product-image {
                        padding:  0;
                    }
                }
                .product-feature-text {
                    order: 2;
                    text-align: center;
                    padding-right: 0px;
                }

                .product-image {
                    order: 1;
                    margin-bottom: 1rem;
                    justify-content: center;
                }
            }
        }
        
    }
}


