.layout-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--surface-a);
    width: 250px;
    user-select: none;
    transition: transform .4s cubic-bezier(.05,.74,.2,.99);
    display: flex;
    flex-direction: column;
    padding: 1rem 0;

    .logo {
        display: flex;
        justify-content: center;
    }

    .layout-sidebar-filter {
        padding: 2rem;

        .layout-sidebar-filter-content {
            width: 100%;

            .clear-icon {
                cursor: pointer;
                padding: .25rem;
                border-radius: 50%;
                right: .25rem;
                margin-top: -.75rem;
                transition: background-color .2s;

                &:hover {
                    background-color: var(--surface-c);
                }
            }
        }
    }

    .layout-menu {
        overflow-y: auto;
        flex-grow: 1;
        padding: 0 2rem;

        .menu-category {
            display: flex;
            align-items: center;
            color: var(--surface-900);
            font-weight: 700;
            user-select: none;
            padding: .5rem .25rem;
            font-size: 0.857rem;
            text-transform: uppercase;

            .layout-menu-badge {
                padding: .14rem .5rem;
                font-size: .7rem;
                line-height: 1.4;
            }
        }

        .menu-items {
            padding: 0 0 1rem 0;
            display: flex;
            flex-direction: column;

            a, button {
                color: var(--text-color);
                display: flex;
                padding: .5rem .75rem;
                border-radius: 10px;
                align-items: center;
                cursor: pointer;

                .layout-menu-badge {
                    padding: .14rem .5rem;
                    font-size: .7rem;
                    line-height: 1.4;
                }

                &:hover {
                    background-color: var(--surface-hover);
                }

                &:focus {
                    z-index: 1;
                    outline: 0 none;
                    transition: box-shadow .2s;
                    box-shadow: var(--focus-ring);
                }

                &.router-link-exact-active {
                    font-weight: 700;
                    color: var(--primary-color);
                }
            }

            div {
                &.router-link-exact-active {
                    > a {
                        font-weight: 700;
                    }

                    ul {
                        display: block;
                    }
                }

                ul {
                    padding: .5rem 0;
                    margin: 0;
                    list-style-type: none;

                    a {
                        font-size: .875rem;
                        padding: .475rem .5rem .475rem 2rem;
                    }
                }
            }
        }

        .menu-image {
            &.menu-banner {
                a {
                    padding: 0;

                    &:hover {
                        background-color: transparent;

                        img {
                            background-color: var(--surface-hover);
                        }
                    }

                    &:focus {
                        box-shadow: none;
                    }
                }
            }

            padding: 0 0 1rem 0;

            img {
                width: 100%;
            }
        }
    }
}
