.virtual-scroll-demo .scroll-item {
    display: flex;
    align-items: center;
}

.virtual-scroll-demo .custom-scroll-item {
    flex-direction: column;
    align-items: stretch;
}

.virtual-scroll-demo .odd {
    background-color: var(--surface-b);
}

.virtual-scroll-demo .p-virtual-scroll {
    height: 200px;
    width: 200px;
    border: 1px solid var(--surface-d);
}

.virtual-scroll-demo .p-horizontal-scroll .p-virtual-scroll-content {
    display: flex;
    flex-direction: row;
}

.virtual-scroll-demo .p-horizontal-scroll .scroll-item {
    writing-mode: vertical-lr;
}
