/* Deprecated Grid CSS */
.p-grid {
    clear: both;
    padding: 0;
    margin: 0;
}

.p-grid:before,
.p-grid:after {
    content:"";
    display:table;
}

.p-grid:after {
    clear:both;
}

.p-grid .p-grid-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    clear:both;
}

.p-grid-row:after {
    clear: both;
    content: "";
    display: table;
}

.p-grid-col-1,
.p-grid-col-2,
.p-grid-col-3,
.p-grid-col-4,
.p-grid-col-5,
.p-grid-col-6,
.p-grid-col-7,
.p-grid-col-8,
.p-grid-col-9,
.p-grid-col-10,
.p-grid-col-11,
.p-grid-col-12 {
    float: left;
    box-sizing: border-box;
}

.p-grid-col-1 {
    width: 8.33333%;
}

.p-grid-col-2 {
    width: 16.66666%;
}

.p-grid-col-3 {
    width: 25%;
}

.p-grid-col-4 {
    width: 33.33333%;
}

.p-grid-col-5 {
    width: 41.66666%;
}

.p-grid-col-6 {
    width: 50%;
}

.p-grid-col-7 {
    width: 58.33333%;
}

.p-grid-col-8 {
    width: 66.66666%;
}

.p-grid-col-9 {
    width: 75%;
}

.p-grid-col-10 {
    width: 83.33333%;
}

.p-grid-col-11 {
    width: 91.66666%;
}

.p-grid-col-12 {
    width: 100%;
}

@media (min-width: 480px) {
    .p-grid-fixed {
        width: 480;
    }
}

@media (min-width: 768px) {
    .p-grid-fixed {
        width: 768px;
    }
}

@media (min-width: 960px) {
    .p-grid-fixed {
        width: 960;
    }
}

@media (min-width: 1024px) {
    .p-grid-fixed {
        width: 1024px;
    }
}

/* Responsive */
@media (max-width: 640px) {
    .p-grid-responsive .p-grid-row {
        display: block;
    }
    
    .p-grid-responsive .p-grid-col-1,
    .p-grid-responsive .p-grid-col-2,
    .p-grid-responsive .p-grid-col-3,
    .p-grid-responsive .p-grid-col-4,
    .p-grid-responsive .p-grid-col-5,
    .p-grid-responsive .p-grid-col-6,
    .p-grid-responsive .p-grid-col-7,
    .p-grid-responsive .p-grid-col-8,
    .p-grid-responsive .p-grid-col-9,
    .p-grid-responsive .p-grid-col-10,
    .p-grid-responsive .p-grid-col-11,
    .p-grid-responsive .p-grid-col-12 {
        width: 100%;
        float: none;
    }
}

.p-grid.p-grid-pad > .p-grid-row > div {
    padding: .25em .5em;
}

/* Responsive */
@media (max-width: 640px) {
    .p-grid-responsive .p-grid-row {
        display: block;
    }
    
    .p-grid-responsive .p-grid-col-1,
    .p-grid-responsive .p-grid-col-2,
    .p-grid-responsive .p-grid-col-3,
    .p-grid-responsive .p-grid-col-4,
    .p-grid-responsive .p-grid-col-5,
    .p-grid-responsive .p-grid-col-6,
    .p-grid-responsive .p-grid-col-7,
    .p-grid-responsive .p-grid-col-8,
    .p-grid-responsive .p-grid-col-9,
    .p-grid-responsive .p-grid-col-10,
    .p-grid-responsive .p-grid-col-11,
    .p-grid-responsive .p-grid-col-12 {
        width: 100%;
        float: none;
    }
}

/* New Grid CSS */
.p-g {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}
            
.p-g:after {
    clear: both;
    content: "";
    display: table;
}
            
.p-g-1,
.p-g-2,
.p-g-3,
.p-g-4,
.p-g-5,
.p-g-6,
.p-g-7,
.p-g-8,
.p-g-9,
.p-g-10,
.p-g-11,
.p-g-12 {
    float: left;
    box-sizing: border-box;
    padding: 0.5em;
}

.p-g-1 {
    width: 8.3333%;
}

.p-g-2 {
    width: 16.6667%;
}

.p-g-3 {
    width: 25%;
}

.p-g-4 {
    width: 33.3333%;
}

.p-g-5 {
    width: 41.6667%;
}

.p-g-6 {
    width: 50%;
}

.p-g-7 {
    width: 58.3333%;
}

.p-g-8 {
    width: 66.6667%;
}

.p-g-9 {
    width: 75%;
}

.p-g-10 {
    width: 83.3333%;
}

.p-g-11 {
    width: 91.6667%;
}

.p-g-12 {
    width: 100%;
}

@media screen and (max-width: 40em) {
    .p-sm-1,
    .p-sm-2,
    .p-sm-3,
    .p-sm-4,
    .p-sm-5,
    .p-sm-6,
    .p-sm-7,
    .p-sm-8,
    .p-sm-9,
    .p-sm-10,
    .p-sm-11,
    .p-sm-12 {
        padding: 0.5em;
    }

    .p-sm-1 {
        width: 8.3333%;
    }

    .p-sm-2 {
        width: 16.6667%;
    }

    .p-sm-3 {
        width: 25%;
    }

    .p-sm-4 {
        width: 33.3333%;
    }

    .p-sm-5 {
        width: 41.6667%;
    }

    .p-sm-6 {
        width: 50%;
    }

    .p-sm-7 {
        width: 58.3333%;
    }

    .p-sm-8 {
        width: 66.6667%;
    }

    .p-sm-9 {
        width: 75%;
    }

    .p-sm-10 {
        width: 83.3333%;
    }

    .p-sm-11 {
        width: 91.6667%;
    }

    .p-sm-12 {
        width: 100%;
    }
}

@media screen and (min-width: 40.063em) {
    .p-md-1,
    .p-md-2,
    .p-md-3,
    .p-md-4,
    .p-md-5,
    .p-md-6,
    .p-md-7,
    .p-md-8,
    .p-md-9,
    .p-md-10,
    .p-md-11,
    .p-md-12 {
        padding: 0.5em;
    }

    .p-md-1 {
        width: 8.3333%;
    }

    .p-md-2 {
        width: 16.6667%;
    }

    .p-md-3 {
        width: 25%;
    }

    .p-md-4 {
        width: 33.3333%;
    }

    .p-md-5 {
        width: 41.6667%;
    }

    .p-md-6 {
        width: 50%;
    }

    .p-md-7 {
        width: 58.3333%;
    }

    .p-md-8 {
        width: 66.6667%;
    }

    .p-md-9 {
        width: 75%;
    }

    .p-md-10 {
        width: 83.3333%;
    }

    .p-md-11 {
        width: 91.6667%;
    }

    .p-md-12 {
        width: 100%;
    }
}

@media screen and (min-width: 64.063em) {
    .p-lg-1,
    .p-lg-2,
    .p-lg-3,
    .p-lg-4,
    .p-lg-5,
    .p-lg-6,
    .p-lg-7,
    .p-lg-8,
    .p-lg-9,
    .p-lg-10,
    .p-lg-11,
    .p-lg-12 {
        padding: 0.5em;
    }

    .p-lg-1 {
        width: 8.3333%;
    }

    .p-lg-2 {
        width: 16.6667%;
    }

    .p-lg-3 {
        width: 25%;
    }

    .p-lg-4 {
        width: 33.3333%;
    }

    .p-lg-5 {
        width: 41.6667%;
    }

    .p-lg-6 {
        width: 50%;
    }

    .p-lg-7 {
        width: 58.3333%;
    }

    .p-lg-8 {
        width: 66.6667%;
    }

    .p-lg-9 {
        width: 75%;
    }

    .p-lg-10 {
        width: 83.3333%;
    }

    .p-lg-11 {
        width: 91.6667%;
    }

    .p-lg-12 {
        width: 100%;
    }
}

@media screen and (min-width: 90.063em) {
    .p-xl-1,
    .p-xl-2,
    .p-xl-3,
    .p-xl-4,
    .p-xl-5,
    .p-xl-6,
    .p-xl-7,
    .p-xl-8,
    .p-xl-9,
    .p-xl-10,
    .p-xl-11,
    .p-xl-12 {
        padding: 0.5em;
    }

    .p-xl-1 {
        width: 8.3333%;
    }

    .p-xl-2 {
        width: 16.6667%;
    }

    .p-xl-3 {
        width: 25%;
    }

    .p-xl-4 {
        width: 33.3333%;
    }

    .p-xl-5 {
        width: 41.6667%;
    }

    .p-xl-6 {
        width: 50%;
    }

    .p-xl-7 {
        width: 58.3333%;
    }

    .p-xl-8 {
        width: 66.6667%;
    }

    .p-xl-9 {
        width: 75%;
    }

    .p-xl-10 {
        width: 83.3333%;
    }

    .p-xl-11 {
        width: 91.6667%;
    }

    .p-xl-12 {
        width: 100%;
    }
}

.p-g-nopad {
    padding: 0;
}