.dialog-demo {
    .p-button {
        margin: 0 .5rem 0 0;
        min-width: 10rem;
    }

    p {
        margin: 0;
        line-height: 1.5;
    }

    .p-dialog .p-button {
        min-width: 6rem;
    }
}
