.p-datagrid .p-paginator {
	text-align: center;
    border-top: 0 none;
}

.p-datagrid-column {
	padding: .25em;
}

.p-datagrid-content-empty {
    padding: .25em .625em;
}

.p-datagrid .p-datagrid-header,
.p-datagrid .p-datagrid-footer {
    text-align:center;
	padding: .5em .75em;
}

.p-datagrid .p-datagrid-header {
    border-bottom: 0 none;
}

.p-datagrid .p-datagrid-footer {
    border-top: 0 none;
}

.p-datagrid .p-paginator-top {
    border-bottom: 0 none;
}

.p-datagrid .p-paginator-bottom {
    border-top: 0 none;
}

