@import "tailwindcss";
@import "tailwindcss-primeui";

@custom-variant dark (&:where(.p-dark, .p-dark *));

@theme inline {
    --font-mono: var(--font-mono);
}

@source "../../**/*.{ts,tsx,js,jsx,mdx}";
@source "../../../../../packages/tailwind/src/**/*.{ts,tsx}";
