@media screen and (max-width: 640px) {
    .steps-demo {
        .p-steps {
            height: 350px;

            > ul {
                flex-direction: column;
                height: 100%;

                .p-steps-item {
                    flex-direction: column-reverse;
                    align-items: flex-start;
                    justify-content: center;

                    &:before {
                        position: static;
                        left: auto;
                        top: auto;
                        margin-top: 0;
                        border-left: 1px solid var(--surface-d);
                        border-top: 0 none;
                        width: auto;
                        height: 100%;
                        margin-left: 1rem;
                    }

                    .p-menuitem-link {
                        flex-direction: row;
                        overflow: visible;

                        .p-steps-title {
                            margin: 0 .5rem 0;
                        }
                    }

                    &:last-child {
                        flex-grow: 0;

                        .p-menuitem-link {
                            padding: 0;
                        }

                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .theme-material { // for theme switcher on showcase
        .steps-demo {
            .p-steps {
                > ul {
                    .p-steps-item {
                        &:before {
                            margin-left: calc(1.714rem / 2);
                        }

                        .p-menuitem-link {
                            padding: .5rem 0;
                        }
                    }
                }
            }
        }
    }
}
