.colors-page {
    .color-stack {
        display: flex;
        flex-direction: column;
    }
    
    .color-box {
        width: 2.5rem;
        display: flex;
        align-items: center;
        padding: 1rem;
        width: 250px;
        font-weight: bold;
    }
    
    .sample-layout {
        width: 375px;
    }
    
}