@media screen and (max-width: 1400px) {
    .p-picklist {
      flex-direction: column;
    }
    .p-picklist .p-picklist-buttons {
      padding: 0.5rem;
      flex-direction: row;
    }
    .p-picklist .p-picklist-buttons .p-button {
      margin-right: 0.5rem;
      margin-bottom: 0;
    }
    .p-picklist .p-picklist-buttons .p-button:last-child {
      margin-right: 0;
    }
    .p-picklist .p-picklist-transfer-buttons .pi-angle-right:before {
      content: "\e930";
    }
    .p-picklist .p-picklist-transfer-buttons .pi-angle-double-right:before {
      content: "\e92c";
    }
    .p-picklist .p-picklist-transfer-buttons .pi-angle-left:before {
      content: "\e933";
    }
    .p-picklist .p-picklist-transfer-buttons .pi-angle-double-left:before {
      content: "\e92f";
    }
  }