.scrollpanel-demo {
    .p-scrollpanel {
        &.custombar1 {
            .p-scrollpanel-wrapper {
                border-right: 10px solid var(--surface-ground);
            }

            .p-scrollpanel-bar {
                background-color: var(--primary-300);
                opacity: 1;
                transition: background-color .3s;

                &:hover {
                    background-color: var(--primary-400);
                }
            }
        }

        &.custombar2 {
            .p-scrollpanel-wrapper {
                border-right: 10px solid var(--surface-50);
                border-bottom: 10px solid var(--surface-50);
            }

            .p-scrollpanel-bar {
                background-color: var(--surface-200);
                border-radius: 0;
                opacity: 1;
                transition: background-color .3s;
            }
        }
    }
}