.terminal-demo {
    p {
        margin-top: 0;
    }

    .p-terminal {
        background-color: #212121;
        color: #ffffff;

        .p-terminal-command {
            color: #80CBC4;
        }

        .p-terminal-prompt {
            color: #FFD54F;
        }

        .p-terminal-response {
            color: #9FA8DA;
        }
    }
}
