.landing-header {
    height: 5rem;
    background-color: transparent;
    transition: background-color .5s;

    &.landing-header-sticky {
        position: fixed;
        top: 0px;
        width: 100%;
        background-color: var(--home-header-bg);
        z-index: 100;
        backdrop-filter: blur(12px);

        + .landing-hero {
            margin-top:5rem;
        }
    }
    
    ol {
        a {
            border-radius: 10px;
            color: var(--home-menu-link-text-color);
            white-space: nowrap;

            &:hover {
                background: var(--home-menu-link-hover-bg)
            }
        }
    }

    .header-button {
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media screen and (max-width: $landingBreakpointLG) {
    .landing-header {
        nav {
            background: var(--home-menu-mobile-bg);
            backdrop-filter: blur(12px);
            z-index: 100;

            ol {
                border: 1px solid var(--home-border-color);
                border-radius: 10px;
                overflow: hidden;

                li:last-child {
                    a {
                        border-bottom: 0 none;
                    }
                }
            }

            a {
                font-size: 1.5rem;
                background: var(--home-menu-mobile-link-bg);
                border-radius: 10px;
                display: flex;
                font-weight: medium !important;
                border-radius: 0;
                border-bottom: 1px solid var(--home-border-color);
            }
        }
    }
}