.landing-header {
    padding: 0 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12rem;

    ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        font-weight: 600;

        li {
            margin-right: 1rem;
        }

        a {
            color: #ffffff;
            border-bottom: 2px solid transparent;
            display: block;
            padding: .5rem 1rem;
            text-align: center;
            transition: background-color .3s;
            border-radius: 10px;

            &:hover {
                background: rgba(11, 33, 63, 0.9);
            }
        }
    }
}