.landing {
    min-height: 100vh;
    background: var(--home-bg);
    scroll-behavior: smooth;

    .landing-intro {
        background: var(--home-intro-bg);
    }

    .box,.linkbox {
        border: 1px solid var(--home-border-color);
        border-radius: 10px;
        background-color: var(--home-box-bg);
    }

    .linkbox {
        transition: background-color .3s;
        display: inline-flex;
        align-items: center;
        color: var(--home-box-text-color);
        padding: .5rem 1rem;

        &:hover {
            background: var(--home-box-hover-bg);
        }

        &.active {
            background: var(--home-box-active-bg);
            color: var(--home-box-active-text-color);
        }
    }

    .section-header {
        font-size: 2rem;
        color: var(--home-primary-text-color);
        font-weight: 700;
        text-align: center;
        padding: 0 2rem;
    }

    .section-detail {
        text-align: center;
        color: var(--home-secondary-text-color);
        font-weight: 500;
        font-size: 1.143rem;
        margin: 1.5rem 0 0 0;
        padding: 0 2rem;
    }

    .section-divider {
        border: 1px solid var(--home-border-color);
        height: 1px;
        border-bottom: 0 none;
        overflow: hidden;
    }
}

.text-secondary {
    color: var(--home-secondary-text-color);
}

.pad-section {
    padding: 0 12rem;
}

@media screen and (max-width: $landingBreakpointXL) {
    .pad-section {
        padding: 0 8rem;
    }
}

@media screen and (max-width: $landingBreakpointLG) {
    .pad-section {
        padding: 0 4rem;
    }
}

@media screen and (max-width: $landingBreakpointMD) {
    .pad-section {
        padding: 0 2rem;
    }
}