.p-treetable {
    position: relative;
}

.p-treetable table {
	border-collapse:collapse;
    width: 100%;
    table-layout: fixed;
}

.p-treetable .p-treetable-header,
.p-treetable .p-treetable-footer {
    text-align:center;
	padding: .5em .75em;
}

.p-treetable .p-treetable-header {
    border-bottom: 0 none;
}

.p-treetable .p-treetable-footer {
    border-top: 0 none;
}

.p-treetable th, .p-treetable tfoot td {
    text-align: center;
}

.p-treetable thead th,
.p-treetable tbody td,
.p-treetable tfoot td {
    padding: .25em .5em;
    overflow: hidden;
    white-space: nowrap;
    border-width: 1px;
    border-style: solid;
}

.p-treetable tbody td {
    border-color: inherit;
}

.p-treetable tbody td:first-child span {
    vertical-align: middle;
}

.p-treetable .p-treetable-toggler {
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
}

.p-treetable .p-treetable-checkbox {
    margin-right: .5em;
}

.p-treetable .p-treetable-checkbox .p-chkbox-icon {
    margin-left: 1px;
}

.p-treetable .p-treetable-row.p-treetable-row-selectable {
    cursor: pointer;
}
      
.p-treetable tr.p-state-hover {
    border-color: inherit;
    font-weight: inherit;
}

.p-treetable .p-treetable-indent {
    width: 1em;
    height: 1em;
    float: left;
}

.p-treetable .p-sortable-column {
    cursor: pointer;
}

.p-treetable .p-sortable-column-icon {
    display: inline-block;
    margin-left: .125em;
}

/* PrimeReact */
.p-treetable td.p-treetable-child-table-container {
    padding: 0;
    border: 0 none;
}

.p-treetable .p-treetable-row {
    display: table-row;
    border-bottom: 0 transparent
}

.p-treetable tbody .p-treetable-row td {
    border: 0 none;
}

.p-treetable tbody .p-treetable-row td input {
    outline: 0 none;
}