.ui-chkbox-container{
    display: inline-block;
    vertical-align: middle;
}

.ui-chkbox {
    display: inline-flex;
    cursor: pointer;
    vertical-align: middle;
    margin-right: .5em;
}

.ui-chkbox .ui-chkbox-box {
    width: 1.125em;
    height: 1.125em;
    line-height: 1.125em;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
}

.ui-chkbox .ui-chkbox-icon {
    display: block;
}

.ui-chkbox-label {
    vertical-align: middle;  
}