.p-datalist .p-datalist-header,
.p-datalist .p-datalist-footer {
    text-align:center;
	padding: .5em .75em;
}

.p-datalist .p-datalist-header {
    border-bottom: 0 none;
}

.p-datalist .p-datalist-footer {
    border-top: 0 none;
}

.p-datalist .p-paginator {
    border-top: 0 none;
}

.p-datalist .p-datalist-data {
    margin: 0;
    padding: 0;
}

.p-datalist .p-datalist-data > li {
    list-style-type: none;
    
}

.p-datalist .p-datalist-emptymessage {
    padding: .5em .75em;
}

.p-datalist.p-datalist-scrollable .p-datalist-content {
    overflow: auto;
}