body {
    .layout-changelog-button {
        padding: 1em;
        font-weight: 700;
        border-radius: 3px;
        margin-top: 8px;
        background-color: rgba(255,255,255,0.16);
        color: white;
        border: 1px solid #fff;
        letter-spacing: 0.2px;
        cursor: pointer;
        @include transition(background-color .2s);

        &:hover {
            background-color: rgba(255,255,255,0.32);
            box-shadow: 0 3px 10px rgba(255,255,255,0.1);
        }

        &:focus {
            z-index: 1;
            outline: 0 none;
            @include transition(box-shadow .3s);
            @include shadow(0 0 0 0.2em #00c4e8);
        }
    }

    .layout-changelog-dialog {
        &.p-dialog {
            .p-dialog-titlebar {
                .p-dialog-title {
                    text-transform: capitalize;
                }
            }

            .p-dialog-content {
                padding-top: 14px;

                .layout-changelog-current-header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    > span {
                        display: flex;
                        align-items: center;

                        .layout-changelog-version {
                            font-size: 1.17em;
                            font-weight: bold;
                        }

                        .layout-changelog-badge {
                            padding: 2px 4px;
                            border-radius: 3px;
                            color: #ffffff;
                            font-weight: 700;
                            font-size: 11px;
                            margin-left: 8px;
                            background-color: #484848;
                            letter-spacing: 0.2px;
                        }
                    }

                    .layout-changelog-full {
                        display: flex;
                        align-items: center;
                        padding-right: 8px;
                        font-weight: 700;
                    }
                }

                .layout-changelog-container {
                    list-style-type: none;
                    padding: 0;
                    margin: 14px 0 0;

                    > li {
                        border: 1px solid #cdced2;
                        border-bottom: 0;
                        padding: 8px 50px 8px 8px;
                        position: relative;

                        &:first-child {
                            border-top-left-radius: 2px;
                            border-top-right-radius: 2px;
                        }

                        &:last-child {
                            border-bottom: 1px solid #cdced2;
                            border-bottom-left-radius: 2px;
                            border-bottom-right-radius: 2px;
                        }

                        .layout-changelog-issue-no {
                            position: absolute;
                            width: 50px;
                            height: 100%;
                            padding-right: 8px;
                            top: 0;
                            right: 0;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            font-weight: 700;
                        }
                    }
                }

                .layout-changelog-actions {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 30px;

                    button {
                        font-weight: 700;

                        .pi {
                            font-size: 1em;
                            margin-top: -.46em;
                            height: .75em;
                        }
                    }
                }
            }
        }
    }
}
