#root, body, html {
    height: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f6f6f6;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
}

.layout-wrapper {
    min-height: 100%;
}

/* Variables */
$tabletBreakpoint: 1024px;
$mobileBreakpoint: 640px;

/* Styles */
@import "_mixins";
@import "_news";
@import "_topbar";
@import "_sidebar";
@import "_content";
@import "_footer";
@import "_mask";
@import "_config";
@import "_changelog";
