.layout-wrapper {
    .layout-topbar {
        background-color: #20272a;
        padding: 0 45px;
        height: 70px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        @include shadow(0 2px 5px 0 rgba(0, 0, 0, 0.3));
        @include flex();
        @include flex-justify-between();
        @include flex-direction-row();

        .layout-topbar-left {
            @include flex();
            @include flex-align-center();
            @include flex-justify-start();
            flex-grow: 1;

            .menu-button {
                display: none;
                color: #ffffff;
                font-size: 24px;
                width: 70px;
                height: 100%;
                cursor: pointer;
                overflow: hidden;
                @include transition(background-color .2s);

                &:hover {
                    background-color: #363c3f;
                }

                i {
                    line-height: inherit;
                }

                @include focus();
            }

            .logo {
                height: 100%;
                @include flex();
                @include flex-align-center();
                @include focus();

                img {
                    width: 210px;
                }
            }
        }

        .layout-topbar-right {
            .topbar-menu {
                list-style-type: none;
                padding: 0;
                margin: 0;
                height: 100%;
                @include flex();
                @include flex-direction-row();

                > li {
                    height: 100%;
                    position: relative;

                    @include link(true) {
                        height: 100%;
                        color: #ffffff;
                        background-color: transparent;
                        padding: 1em;
                        font-size: 16px;
                        @include flex-center();
                        @include transition(background-color .2s);
                        @include focus();
                    }

                    &:hover {
                        background-color: #4a4f52;
                    }

                    > ul {
                        position: absolute;
                        top: 70px;
                        right: 0;
                        width: 275px;
                        max-height: 400px;
                        background-color: #fff;
                        overflow: auto;
                        list-style-type: none;
                        padding: 6px 12px;
                        margin: 0;
                        border-radius: 3px;
                        @include shadow(0 0 10px 0 rgba(0,0,0,.3));
                        opacity: 0;
                        @include transform(translateY(5%));
                        @include transition(transform .3s, opacity .15s);
                        display: none;

                        &.topbar-submenu-enter {
                            display: block;
                            opacity: 0;
                            @include transform(translateY(5%));
                        }

                        &.topbar-submenu-enter-active {
                            @include transition(transform .3s, opacity .15s);
                        }

                        &.topbar-submenu-enter-done {
                            display: block;
                            opacity: 1;
                            @include transform(translateY(0%));
                        }

                        &.topbar-submenu-exit {
                            display: none;
                            opacity: 0;
                            @include transform(translateY(5%));
                            @include transition(transform .3s, opacity .15s);
                        }

                        &.topbar-submenu-exit-active {
                            @include transition(transform .3s, opacity .15s);
                        }

                        > li {
                            &.topbar-submenu-header {
                                padding: 6px 12px;
                                font-weight: 700;
                                text-align: left;
                                margin-top: 18px;

                                &:first-child {
                                    margin-top: 6px;
                                }
                            }

                            &:last-child {
                                @include link() {
                                    border-bottom: none;
                                }
                            }
                        }

                        @include link() {
                            display: block;
                            text-decoration: none;
                            color: #484848;
                            padding: 6px 12px;
                            width: 100%;
                            @include transition(background-color .2s);
                            @include user-select(none);

                            &:not(.no-border) {
                                border-bottom: 1px solid #f4f4f4;
                            }

                            i {
                                vertical-align: middle;
                                font-size: 24px;
                                margin-right: 12px;
                            }

                            img {
                                width: 32px;
                                vertical-align: middle;
                                margin-right: 12px;
                            }

                            &:hover {
                                background-color: #eee;
                            }

                            @include focus();
                        }
                    }

                    &.topbar-resources-submenu {
                        > ul {
                            @include link() {
                                padding: 12px 6px;

                                &:before {
                                    content: "\25CF";
                                    margin-right: 8px;
                                }
                            }
                        }
                    }
                }

                .theme-badge {
                    padding: 2px 4px;
                    border-radius: 3px;
                    color: #ffffff;
                    font-weight: 700;
                    font-size: 11px;
                    margin-left: 8px;
                    letter-spacing: 0.2px;

                    &.new {
                        @include background-gradient-top2bottom(#96c93d, #00b09b);
                    }

                    &.material {
                        @include background-gradient-top2bottom(#2196f3, #2196f3);
                    }

                    &.bootstrap {
                        @include background-gradient-top2bottom(#563d7c, #966bd8);
                    }

                    &.darkmode {
                        @include background-gradient-top2bottom(#141d26, #5a6067);
                    }
                }
            }
        }
    }

    @media screen and (max-width: $tabletBreakpoint) {
        .layout-topbar {
            padding: 0;
            height: 110px;
            @include flex-direction-column();

            .layout-topbar-left {
                .menu-button {
                    @include flex-center();
                }

                .logo {
                    width: calc(100% - 70px);
                    @include flex-justify-center();
                }
            }

            .layout-topbar-right {
                .topbar-menu {
                    background-color: #327187;
                    height: 40px;
                    width: 100%;

                    > li {
                        @include flex();
                        flex-grow: 1;
                        @include flex-justify-center();

                        @include link(true) {
                            padding: 0 .1em;
                            width: 100%;
                        }

                        &:hover {
                            background-color: #285a6c;
                        }

                        > ul {
                            top: 40px;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: $mobileBreakpoint) {
        .layout-topbar {
            .layout-topbar-right {
                .topbar-menu {
                    > li {
                        > ul {
                            position: fixed;
                            top: 110px;
                            right: auto;
                            left: 0;
                            width: 100vw;
                        }
                    }
                }
            }
        }
    }
}
