.ui-inputswitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.ui-inputswitch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 34px;
}

.ui-inputswitch-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    -webkit-transition: .3s;
    transition: .3s;
}

.ui-inputswitch-checked .ui-inputswitch-slider {
    background-color: #2196F3;
}

.ui-inputswitch-checked .ui-inputswitch-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}