.p-datascroller {
}

.p-datascroller .p-datascroller-header {
    text-align: center;
	padding: .5em .75em;
    border-bottom: 0 none;
}

.p-datascroller .p-datascroller-footer {
    text-align: center;
    padding: .25em .625em;
    border-top: 0px none;
}

.p-datascroller .p-datascroller-content {
    padding: .25em .625em;
}

.p-datascroller-inline .p-datascroller-content {
    overflow: auto;
}

.p-datascroller .p-datascroller-list {
    list-style-type: none; 
    margin: 0;
    padding: 0;
}