name: NodeJS CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Build
      run: |
        npm install

    - name: Code Format
      if: ${{ success() }}
      run: |
        npm run format:check

    - name: Lint Check
      if: ${{ success() }}
      run: |
        npm run lint

    - name: TypeScript Check
      if: ${{ success() }}
      run: |
        npm run type:check

    - name: Security Check
      if: ${{ success() }}
      run: |
        npm run security:check
  
    - name: Unit Tests Check
      if: ${{ success() }}
      run: |
        npm run test:check
